<%= render "shares/header" %>

<div class = "record-whole">
<% if user_signed_in? %>
  <% if @pair_1.present? || @pair_2.present? %>
    <div class = "housework-record">
      <%= link_to "家事の記録をつけてみましょう！", new_housework_path, class: "record" %>
    </div>
    <div class = "housework-record-week">
      <%= link_to "今週の家事を振り返ってみましょう！", housework_path(@housework), class: "record-week" %>
    </div>
  <% else %>
    <div class = "create-pair">
      <%= link_to "ペアを作る", new_pair_path, class:"pair-create" %>
    </div>
  <% end %>
<% end %>
</div>