<%= render "shares/header" %>
<%= include_gon %>
<div class = "record-whole">
<p class = "explain-space">
実施日数(1週間あたり)
</p>


<div>
  <canvas id="houseworkChart" width="800" height="300"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  var ctx = document.getElementById('houseworkChart');
  
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels:[
        `洗濯(${gon.buddyName})`,
        `洗濯(${gon.partnerName})`,
        `食器洗い(${gon.buddyName})`,
        `食器洗い(${gon.partnerName})`,
        `調理(${gon.buddyName})`,
        `調理(${gon.partnerName})`,
        `部屋の片づけ(${gon.buddyName})`,
        `部屋の片づけ(${gon.partnerName})`,
        `お風呂掃除(${gon.buddyName})`,
        `お風呂掃除(${gon.partnerName})`,
        `ゴミを集めて捨てる(${gon.buddyName})`,
        `ゴミを集めて捨てる(${gon.partnerName})`,
        `トイレ掃除(${gon.buddyName})`,
        `トイレ掃除(${gon.partnerName})`
      ],
      datasets: [{
        label: '実施日数(1週間あたり)',
        data: [
          gon.weekLaundryBuddy,
          gon.weekLaundryPartner,
          gon.weekDishesBuddy,
          gon.weekDishesPartner,
          gon.weekCookingBuddy, 
          gon.weekCookingPartner,
          gon.weekCleanRoomBuddy,
          gon.weekCleanRoomPartner,
          gon.weekBathroomBuddy,
          gon.weekBathroomPartner,
          gon.weekTrashBuddy,
          gon.weekTrashPartner,
          gon.weekToiletBuddy,
          gon.weekToiletPartner
        ],
        backgroundColor: [
          'rgba(255, 200, 12, 0.5)',
          'rgba(19, 200, 15, 0.4)'
        ],
        borderColor: [
          'rgb(255, 159, 64)',
          'rgb(75, 192, 192)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      plugins: {
      legend: {
        display: false
      }
    },
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<% if @house_work_edit.present? %>
  <%= link_to "今日の家事記録を編集する", edit_housework_path(@house_work_edit.id), class:"edit-btn" %>
<% end %>
</div>