.whole{
  width: 100vw;
  height: 1000px;
  margin-top: 50px;
}
/*********************日付やユーザー情報について***************/
.explain-space{
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.created_at{
  width: 100px;
  margin-left:50px ;
  
}

.users-color{
  width:400px ;
}

.users-area{
  display: flex;
  justify-content: space-between;
}

.user-color{
  height: 50px;
  width: 50px;
  background-color:orange;
}


.partner-color{
  height: 50px;
  width: 50px;
  background-color: chartreuse;
}

/************************家事詳細***************************/
.housework-spaces{
  width: 100vw;
  height: 800px;
}

ul{
  list-style: none;
}

.housework-space{
  height: 100px;
  display: flex;
}

.housework-list{
  width: 200px;
}

.laundry-bar-user{
  height: 35px;
  background-color:orange;
}

.laundry-bar-partner{
  height: 35px;
  background-color: chartreuse;
}

.dishes-bar-user{
  height: 35px;
  width: 100px;
  background-color:orange;
}


.dishes-bar-partner{
  height: 35px;
  width: 100px;
  background-color:chartreuse;
}